---
layout: page
---
<style>
    .post-body {
        margin: 0px;
        color:black; 
        font-size: 16px;
    }

    .post-body-items {
        margin-bottom: 0px;
    }

    .post-body-item {
        font-size:16px;
    }
</style>

    <h3 class="resume-title">EDUCATION</h3>
    <!-- University of Southern California -->
    <div class="post-preview">
        <h4 class="post-title">            
            University of Southern California
        </h4>
        <p class="post-body">
            Bachelor of Science in Business Administration <br>
            Minor in Enterprise Information Systems 
        </p>
        <p class="post-meta" style="margin-bottom:5px">
            Los Angeles, CA - May 2017
        </p>
    </div>

    <h3 class="resume-title">WORK EXPERIENCE</h3>
    <!-- USC School of Cinematic Arts -->
    <div class="post-preview">
        <h4 class="post-title">            
            USC School of Cinematic Arts
        </h4>
        <p class="post-body">
            Accounting Technician
        </p>
        <ul class="post-body-items">
            <li class="post-body-item"> 
                Reviewed 50+ department research and grants account daily for fiscal year-end reconciliation and closing 
            </li>
            <li class="post-body-item"> 
                Calculated Budget Allocations and Cost Share for government, state and private foundation grants in research of films 
            </li>
            <li class="post-body-item"> 
                Generated an Accounts Receivable Aging report for consulting fees regarding international film education programs 
            </li>
            <li class="post-body-item"> 
                Prepared a Budgetary Comparison Schedule (Budget vs Actual) report for faculty, staff and student payroll monthly
            </li>
            <li class="post-body-item"> 
                Trained an employee to analyze film budgeting reports, process donation transactions and create a P.O. against invoices
            </li>
        </ul>
        <p class="post-meta" style="margin-bottom:5px">
            Los Angeles, CA, April 2017 – October 2018
        </p>
    </div>

    <!-- Herman Ostrow School of Dentistry of USC -->
    <div class="post-preview">
        <h4 class="post-title">            
            Herman Ostrow School of Dentistry of USC
        </h4>
        <p class="post-body">
            Student Intern
        </p>
        <ul class="post-body-items">
            <li class="post-body-item"> 
                Reconciled invoices through USC’s Program, E-market, to keep track of budget and prices of Dental instruments
            </li>
            <li class="post-body-item"> 
                Created a tracking system for personnel filing storage and employee information using Excel  
            </li>
        </ul>
        <p class="post-meta" style="margin-bottom:5px">
            Los Angeles, CA, August 2014 – April 2017
        </p>
    </div>

    <!-- Korean Airlines Co., Ltd. -->
    <div class="post-preview">
        <h4 class="post-title">            
            Korean Airlines Co., Ltd.
        </h4>
        <p class="post-body">
            Marketing and Passenger Sales Intern
        </p>
        <ul class="post-body-items">
            <li class="post-body-item"> 
                Authorized and presented research on future revenue opportunities in multiple digital media channels
            </li>
            <li class="post-body-item"> 
                Conducted a peer-group analysis on passenger ticket pricing including forecasting internal and competitors’ strategies 
            </li>
        </ul>
        <p class="post-meta" style="margin-bottom:5px">
            Los Angeles, CA, July 2016- August 2016
        </p>
    </div>

    <!-- CJ Korea Express U.S.A. Corp.  -->
    <div class="post-preview">
        <h4 class="post-title"> 
            CJ Korea Express U.S.A. Corp.           
        </h4>
        <p class="post-body">
            Accounting Intern
        </p>
        <ul class="post-body-items">
            <li class="post-body-item"> 
                Maintained accounts payable and receivable using SAP and prepared weekly cash flow and aging report using Excel
            </li>
            <li class="post-body-item"> 
                Performed daily Bank Reconciliation using SAP, Equipment Depreciation report, and property tax report using Excel
            </li>
        </ul>
        <p class="post-meta" style="margin-bottom:5px">
            Rancho Dominguez, CA, June 2014 - August 2014
        </p>
    </div>

    <h3 class="resume-title">LEADERSHIP/ACTIVITIES</h3>
    <!-- Internal Revenue Service -->
    <div class="post-preview">
        <h4 class="post-title"> 
            Internal Revenue Service           
        </h4>
        <p class="post-body">
            Volunteer Income Tax Assistant, USC’s VITA Chapter
        </p>
        <ul class="post-body-items">
            <li class="post-body-item"> 
                Filed and documented 20 clients’ 1040 Tax forms per month using TaxWise online
            </li>
            <li class="post-body-item"> 
                Evaluated tax forms and verified for accuracy using TaxWise online to reduce heavy traffic during tax season for IRS
            </li>
        </ul>
        <p class="post-meta" style="margin-bottom:5px">
            Los Angeles, CA, February 2014 – April 2014
        </p>
    </div>

    <!-- Little Company of Mary Hospital -->
    <div class="post-preview">
        <h4 class="post-title"> 
            Little Company of Mary Hospital           
        </h4>
        <p class="post-body">
            Emergency Room Volunteer
        </p>
        <ul class="post-body-items">
            <li class="post-body-item">
                Communicated with staffs and patients to manage patient flow 
            </li>
            <li class="post-body-item"> 
                Scheduled room appointments and prepared necessary equipment for better patient care service
            </li>
        </ul>
        <p class="post-meta" style="margin-bottom:5px">
            Torrance, CA, October 2009 - July 2011
        </p>
    </div>

    <h3 class="resume-title">ADDITIONAL INFORMATION</h3>
    <div class="post-preview">
        <ul class="post-body-items">
            <li class="post-body-item"> 
                Microsoft Office: Word, Excel, PowerPoint, Access, Visio
            </li>
            <li class="post-body-item"> 
                ERP/Data Analytics: SAP, MS Dynamics GP, Oracle 11g(SQL), teradata, SAP BusinessObjects Explorer, Business Explorer (BEx) Query Designer, BusinessObjects Analysis 2.3 for Microsoft Office: Analysis for Excel and Analysis for PowerPoint, SAP Crystal Reports, SAP Business Objects Design Studio 1.6, MySQL Workbench, Kuali, Workday
            </li>
            <li class="post-body-item"> 
                Certificate: Research Administration (The Cardinal and Gold Curriculum for Grant)
            </li>
            <li class="post-body-item"> 
                Language: Fluent in Korean
            </li>
            <li class="post-body-item">
                Interest: Playing Piano, Cooking Traditional Korean Food 
            </li>
        </ul>
    </div>
<!-- 
{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta" style="margin-bottom:5px">Posted by {{ post.author }} on {{ post.date | date: "%B %-d, %Y" }}</p>
	<div class="notepad-index-post-tags" style="">
		{% for tag in post.tags %}<a href="{{ site.baseurl }}/search/index.html#{{ tag | cgi_encode }}" title="Other posts from the {{ tag | capitalize }} tag">{{ tag | capitalize }}</a>{% unless forloop.last %}&nbsp;{% endunless %}{% endfor %}
	</div>
</div>
<hr>
{% endfor %} -->

<!-- Pager -->
<!-- {% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %} -->

